<!DOCTYPE HTML >
    <html>
    <head>

	    <style type="text/css">

            body {
                margin: 0;
                padding: 0;
                background-color: #FAFAFA;
                font: 12pt 'Times New Roman';

            }
            * {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }
            .page {
                width: 21cm;
                min-height: 29.7cm;
                padding: 0.5cm 1cm 1cm 2cm;
                margin: 0cm auto;
                border: 1px #D3D3D3 solid;
                border-radius: 5px;
                background: white;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                line-height: 1.2;
            }

            @page {
                size: A4;
                margin: 0;
            }
            @media print {
                .page {
                    }
                }

		    P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2; }
		    TD P { margin-bottom: 0in; direction: ltr; widows: 2; orphans: 2 }

	-->
	    </style>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Act</title>
    </head>
    <body lang="uk-UA" dir="LTR">
        <div class= 'book'>
    {% for worker in workers %}
           <div class="page">



            <b><p align="center">АКТ ЗДАЧІ-ПРИЙМАННЯ РОБІТ (НАДАННЯ ПОСЛУГ) № {{ worker.date_contract|date:"my" }}{{ worker.contract|slice:"-2:" }}</p>
            <p align="center">від {{ worker.date|date:"d.m.Y" }}р.</p>
            </b>

            <p align="justify" style="text-indent: 2.5em">Ми, що нижче підписалися, ФОП Смірнов Володимир Віталійович, з одного боку, і ФОП {{ worker.surname }} {{ worker.name }} {{ worker.patronymic }}, з
            іншого боку, які надалі по тексту іменуються разом як «Сторони», склали цей Акт здачі-приймання робіт (надання
            послуг) № {{ worker.date_contract|date:"my" }}{{ worker.contract|slice:"-2:" }} від {{ worker.date|date:"d.m.Y" }}.(надалі по тексту іменується як «Акт» до Договору {{ worker.contract }} від {{ worker.date_contract|date:"d.m.Y" }} про наступне:</p>

            <p align="justify" style="text-indent: 2.5em">	1. ФОП {{ worker.surname }} {{ worker.name }} {{ worker.patronymic }} виконав роботи (надав послуги), що передбачені умовами
            Договору {{ worker.contract }} від {{ worker.date_contract|date:"d.m.Y" }}, а саме:</p>

            <table width="100%"  cellpadding="4" cellspacing="0">
	            <tr bgcolor="#cfe7f5">
		            <td style="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			            <b><p align="ccenter">№</p></b>
		            </td>
		            <td style="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			            <p align="center"><b>Найменування</b></p>
		            </td>
		            <td style="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			            <p align="center"><b>Кількість</b></p>
		            </td>
		            <td style="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			            <p align="center"><b>Од. вим.</b></p>
		            </td>
		            <td style="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			            <p align="center"><b>Ціна без ПДВ</b></p>
		            </td>
		            <td style="border: 1px solid #000001">
			            <p align="center"><b>Сума без ПДВ</b></p>
		            </td>
	            </tr>
	            <tr valign="top" >
		            <td  style="border-top: none; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			            <p align="center">1</p>
		            </td>
		            <td  style="border-top: none; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			            <p align="left">{{ worker.service }}</p>
		            </td>
		            <td   style="border-top: none; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			            <p align="center">1</p>
		            </td>
		            <td  style="border-top: none; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			            <p align="center">міс.</p>
		            </td>
		            <td  style="border-top: none; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			            <p align="center"><b>{{ worker.salary_uah }},00</b></p>
		            </td>
		            <td  style="border-top: none; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: 1px solid #000001; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			            <p align="center"><b>{{ worker.salary_uah }},00</b></p>
		            </td>
	            </tr>
            </table>

            <p style="margin-bottom: 0in; display: none"><br>
            </p>
            <table width="293" cellpadding="4" cellspacing="0" align="right">
                <tr valign="top">
                    <td width="115" bgcolor="#ffffff" style="border: none; padding: 0in; text-indent: 0em">
                        <p style="border: none; padding: 0in"><b>Разом:</b></p>
                    </td>
                    <td  style="border: none; padding: 0in;">
                        <p align="right"><b>{{ worker.salary_uah }},00</b>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="115" style="border: none; padding: 0in">
                        <p style="border: none; padding: 0in"><b>Сума ПДВ:</b></p>
                    </td>
                    <td  style="border: none; padding: 0in">
                        <p align="right"><B>0,00</B></p>
                    </td>
                </tr>
                <tr valign="top">
                    <td  style="border: none; padding: 0in">
                        <p style="border: none; padding: 0in"><b>Усього з ПДВ:</b></p>
                    </td>
                    <td  style="border: none; padding: 0in">
                        <p align="right"><b>{{ worker.salary_uah }},00</b>
                        </p>
                    </td>
                </tr>
            </table>
            <p align="justify" style="margin-left: 4.52in; margin-bottom: 0in"><br>
            </p>
            <br>
            <br>
            <br>
            <br>
            <p align="justify" style="margin-bottom: 0in; text-indent: 2.5em">2. ФОП Смірнов Володимир Віталійович оплатив ФОП {{ worker.surname }} {{ worker.name }} {{ worker.patronymic }}
                вартість робіт (послуг) у розмірі {{ worker.salary_uah }}  гривень 00 копійок, у т.ч. ПДВ: 0 гривень 00 копійок.</p>

            <p align="justify" style="margin-bottom: 0in; text-indent: 2.5em">	3. Сторони зауважень та скарг один до одного, стосовно виконань умов
                Договору {{ worker.contract}} від {{ worker.date_contract|date:"d.m.Y" }}, не мають.</p>

            <p align="justify" style="margin-bottom: 0in; text-indent: 2.5em">	4. Місце складання Акту — Україна, м.Суми.</p>

            <table width="667" cellpadding="7" cellspacing="0">

                <td valign="top">
                    <td width="317" >
                        <p align="center" ><b>ВИКОНАВЕЦЬ</b></p>
                        <p>ФОП {{ worker.surname }} {{ worker.name }} {{ worker.patronymic }}</p>
                        <p>ІПН: {{ worker.ip_number }}</p>
                        <p>{{ worker.index }},&nbsp{{ worker.address }},&nbsp{{ worker.tel }}</p>
                        <p>р/р {{ worker.score_number }}</p>
                        <p>у банку Приватбанк</p>
                        <p>МФО {{ worker.mfo }}</p>
                        <p>Є платником єдиного податку</p><br>
                        <p>______________________ {{ worker.name| first }}. {{ worker.patronymic| first }}. {{ worker.surname}}</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;М.П.</p>
                    </td>

                    <td width="20"></td>

                    <td width="317">
                        <p align="center"><b>ЗАМОВНИК</b></p>
                        <p>ФОП Смірнов Володимир Віталійович</p>
                        <p>ІПН: 3252419411</p>
                        <p>40021, м. Суми, вул.Герасима Кондратьєва, буд. 160/6, кв. 4,
                        тел. +380 (99) 7905796</p>
                        <p>р/р 26002055012234</p>
                        <p>у банку Приватбанк</p>
                        <p>МФО 337546</p>
                        <p>Є платником єдиного податку</p><br>
                        <p>______________________В.В.Смірнов</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspМ.П.</p>
                    </td>
                </td>
            </table>
            </div>
            <div class= 'page'>
            <p align="center" size=4><b>РАХУНОК НА ОПЛАТУ № {{ worker.date_contract|date:"my" }}{{ worker.contract|slice:"-2:" }} </b></p>
            <p align="center" size=4><b>від {{ worker.date|date:"d.m.Y" }}р.</b></p>
            <p style="margin-bottom: 0in"><br></p>

            <table width="665" cellpadding="4" cellspacing="0">
                <tr valign="top">
                    <td width="142" style="border: none; padding: 0in">
                        <p><b>Постачальник:</b></p>
                    </td>
                    <td width="507" style="border: none; padding: 0in">
                        <p>ФОП {{ worker.surname }} {{ worker.name }} {{ worker.patronymic }}</p>
                        <p>ІПН: {{ worker.ip_number }}</p>
                        <p>{{ worker.index }},&nbsp{{ worker.address }},&nbsp{{ worker.tel }}</p>
                        <p>р/р {{ worker.score_number }}</p>
                        <p>у банку Приватбанк</p>
                        <p>МФО {{ worker.mfo }}</p>
                        <p>Є платником єдиного податку</p>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="142" style="border: none; padding: 0in">
                        <p><b>Платник:</b></p>
                    </td>
                    <td width="507" style="border: none; padding: 0in">
                        <p>ФОП Смірнов Володимир Віталійович</p>
                        <p>ІПН: 3252419411</p>
                        <p>40021, м. Суми, вул.Герасима Кондратьєва, буд. 160/6, кв. 4, тел. +380 (99) 7905796</p>
                        <p>р/р 26002055012234</p>
                        <p>у банку Приватбанк</p>
                        <p>МФО 337546</p>
                        <p>Є платником єдиного податку</p>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="142" style="border: none; padding: 0in">
                        <p><b>Договір:</b></p>
                    </td>
                    <td width="507" style="border: none; padding: 0in">
                        <p>{{ worker.contract}} від {{ worker.date_contract|date:"d.m.Y" }}</p>
                    </td>
                </tr>
            </table>
            <br>
            <table width="100%"  cellpadding="4" cellspacing="0">
                <tr bgcolor="#cfe7f5">
                    <td style="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
                        <p align="center">№</p>
                    </td>
                    <td style="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
                        <p align="center"><b>Найменування</b></p>
                    </td>
                    <td style="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
                        <p align="center"><b>Кількість</b></p>
                    </td>
                    <td style="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
                        <p align="center"><b>Од. вим.</b></p>
                    </td>
                    <td style="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
                        <p align="center"><b>Ціна без ПДВ</b></p>
                    </td>
                    <td style="border: 1px solid #000001; padding: 0.04in">
                        <p align="center"><b>Сума без ПДВ</b></p>
                    </td>
                </tr>
                <tr valign="top">
                    <td style="border-top: none; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
                        <p align="center">1</p>
                    </td>
                    <td style="border-top: none; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
                        <p>{{ worker.service }}</p>
                    </td>
                    <td style="border-top: none; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
                        <p align="center">1</p>
                    </td>
                    <td style="border-top: none; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
                        <p align="center">міс</p>
                    </td>
                    <td style="border-top: none; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
                        <p align="center">{{ worker.salary_uah }},00</p>
                    </td>
                    <td style="border-top: none; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: 1px solid #000001; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
                        <p align="center">{{ worker.salary_uah }},00</p>
                    </td>
                </tr>
            </table>
            <table width="293" align="right" cellpadding="4"  cellspacing="0">
                <tr valign="top">
                    <td width="105">
                        <p style="border: none; padding: 0in; text-indent: 0em"><b>Разом:</b></p>
                    </td>
                    <td width="172" >
                        <p align="right"><b>{{ worker.salary_uah }},00</b></p>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="105">
                        <p style="border: none; padding: 0in; text-indent: 0em"><b>Сума ПДВ:</b></p>
                    </td>
                    <td width="172">
                        <p align="right"><b>0,00</b></p>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="105">
                        <p style="border: none; padding: 0in; text-indent: 0em"><b>Усього з ПДВ:</b></p>
                    </td>
                    <td width="172">
                        <p align="right"><b>{{ worker.salary_uah }},00</b></p>
                    </td>
                </tr>
            </table>
            <p align="justify" style="margin-left: 4.52in; margin-bottom: 0in"><br>
            </p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p align="justify" style="text-indent: 2.5em">	Загальна сума, що підлягає оплаті складає <B>{{ worker.salary_uah }}</B> гривень 00 копійок, у т.ч.ПДВ:
                нуль гривень 00 копійок.</p>


            <p align="right" ><B>Виписав(ла):___________________ {{ worker.name| first }}. {{ worker.patronymic| first }}. {{ worker.surname}}</B></p>
            <p align="right">М.П.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            </div>
        </div>
        {% endfor %}
    </body>
    </html>
